[2019-12-01 08:26] huan opened #2 "Initialize the Project Repository"
Hi All,

I have initialized our repository with the following new features, please let me know if you have any questions.

- [x] Wechaty Framework
  - [x] Wechaty Handlers
  - [x] Connect with Amazon S3 Storage for supporting Stateless
- [x] Web Service for show QR Code
- [x] SIGTERM Handlers for ChatOps
- [x] Unit Tests & Integration Tests
- [x] Continuous Test & Continuous Deploy (CI/CD)
  - [x]

[2019-12-01 08:38] huan opened #3 "Translation: the first high priority feature mentioned from our mentor Dave Fisher"
### Translation of messages. Chinese <-> English is the first case.

[2019-12-01 08:39] huan opened #4 "Coordination: the second high priority feature mentioned from our mentor Dave Fisher"
### Coordination of WeChat, GitHub and Apache ML.

[2019-12-04 11:12] huan opened #7 "Enable ChatOps"
When the server needs to be restart, let the bot send a message in Wechat

[2019-12-05 13:18] lijiarui opened #11 "A new issue that be created or replied, will be sent to the wechat group by oss bot."

[2019-12-05 13:20] lijiarui opened #12 "Invite people to the WeChat Group"
- Invite people to the group automatically.
- Tell people how to use oss bot before joining in the group.

[2019-12-05 13:30] huan commented on #12
Glad to see that you are self-assign this great feature!

I'm looking forward to using it for our ChatOps group. ;-p

[2019-12-05 13:31] huan commented on #11
I can pick this issue by building a GraphQL subscription for the repo issues.

[2019-12-05 13:33] huan commented on #7
It seems that it has already been well done! ;-D

[2019-12-05 13:33] #7 closed

[2019-12-05 13:35] huan commented on #2
The list above has been done and has been explained in the weekly meeting.

[2019-12-05 13:35] #2 closed

[2019-12-05 13:37] huan commented on #3
I believe we need a `Translator` class to deal with this.

Like:

[code]

[2019-12-05 13:39] huan commented on #4
With the v0.1 milestone, I believe we can send a message to the Wechat group already.

the GitHub coordination is related to #11

The Apache ML part can not be started until we get the Apache email address & list.

[2019-12-07 03:12] zhuangbiaowei opened #13 "On the web page, list the groups that the OSS-bot joined"
And the open source projects associated with these groups.

[2019-12-08 15:06] huan commented on #13
It will be wonderful if we can also show the room ID beside the room name!

[2019-12-12 10:19] tedliu1 commented on #4
Can we use @kaiyuanshe.org as a starter before the ASF ML acquired?

[2019-12-12 10:20] tedliu1 opened #14 "OSS-Bot architecture and roadmap creation"

[2019-12-12 10:21] tedliu1 opened #15 "Apache email acconts acquisition for OSS-Bot project team members"

[2019-12-18 10:55] morningman opened #18 "Is there any docs for introducing the what is ts-node?"
Sorry that I don't know anything about front-end technology. So I don't know how to run this project on my machine...

I try to search the `ts-node`, but it makes me more confused, the typescript, vue.js and other nouns are completely new to me...

So is there any docs to introduce the technology stack of this project, so that I can have a preliminary understanding of the project.

Thanks very muc

[2019-12-18 17:11] huan commented on #18
TL;DR:

As we know, the `python` is the REPL/parser for Python language.
The `ts-node` is the REPL/parser for TypeScript (which is a superset of the JavaScript) language.

You can use the `ts-node` to run TypeScript program files.

An example can be found in our repo as the following:

https://github.com/kaiyuanshe/oss-bot/blob/5d6a0bb3e6cbb4620e20897f28495174e1d22619/Procfile#L4

[2019-12-19 09:15] zhuangbiaowei opened #19 "Can't read room's topic"
error TS2339: Property 'topic' does not exist on type 'string'.

const topic = await room.topic()

full src/start-web.ts

https://github.com/zhuangbiaowei/OSS-bot/blob/master/src/start-web.ts

line 65~70

[2019-12-19 11:41] morningman commented on #18
Thank you, I will try to learn a bit about type script.

[2019-12-19 12:23] huan commented on #19
You should use `of` instead of `in`.

[code]

P.S. We strongly recommend to use `roomList` instead of `rooms` because the previous variable name is more clear for reading.

[2019-12-19 13:12] #19 closed

[2019-12-20 05:29] huan commented on #18
I have added this question to our FAQ.

Please feel free to add more questions to our FAQ if you have, I'll add the answers for you. :)

[2019-12-31 12:03] huan commented on #11
It seems that the Github & OSS Bot webhooks are both working now!

[2019-12-31 12:26] huan opened #28 "Test issue creation: should be sent to our Wechat room."
Hi, this is real time now!

[2019-12-31 12:28] huan commented on #28
This issue is created for verifying that #11 had been implemented.

[2019-12-31 12:28] #28 closed

[2020-01-01 15:31] morningman opened #29 "My understanding of the functions of the oos bot."
**How it works**

First, we can associate the oos bot to our git repo, or in other word, authorize some permissions of the git repo to the oos bot.

At the same time, the oos bot can be associated with a WeChat group(or mail list). This established a `git repo-> oos bot-> WeChat group` channel.

Afterwards, the oos bot will detect events on the git repo, such as new issue submissions, and the oos

[2020-01-01 15:55] huan commented on #29
Thanks for your summarization!

I believe it's clear enough for us that that's exactly the direction that we are heading to.

[2020-01-02 07:15] jixuan1989 opened #31 "Compile failed"
Hi, I installed ts-node and typescript, then I run `ts-node src/main` and occurs an error:
[code]

ts-node version is v8.5.4

[2020-01-02 08:11] huan commented on #31
please run `npm install` first to install all the dependencies before you started.

[2020-01-02 10:34] jixuan1989 commented on #31
I see. thanks!

[2020-01-02 10:34] #31 closed

[2020-01-02 15:45] huan opened #32 "Create GitHub apps: osschat [bot]"
GitHub App: [OSS Chat](https://github.com/apps/osschat): <https://github.com/apps/osschat>

[![osschat](https://user-images.githubusercontent.com/1361891/71675831-a9d91f80-2db9-11ea-9af6-59ded2937de7.png)](https://github.com/apps/osschat)

The pilot developers can install our GitHub App to their repositories so that out OSS Bot can listen to all the issue creations & comments.

Then, we can forwar

[2020-01-02 17:29] huan commented on #32
Test github hook...

[2020-01-03 06:08] huan commented on #32
test again

[2020-01-03 06:56] huan commented on #32
now mike can work. Can you work?

[2020-01-03 20:40] dave2wave commented on #15
Before Apache IDs can be created we must find a way for OSSBot to become part of the Apache Software Foundation

[2020-01-04 03:45] tedliu1 commented on #29
It is ossbot, not oos bot.

Best regards,

Ted Liu, 
Co-founder & chairman of the board, KAIYUANSHE | ASF Member, Sponsor Ambassador, Incubator PMC Member

  2020 年 1 月 1 日周三 23:31，Mingyu Chen<notifications@github.com> 写道：
How it works

First, we can associate the oos bot to our git repo, or in other word, authorize some permissions of the git repo to the oos bot.

At the same time, the oos bot ca

[2020-01-04 03:51] tedliu1 commented on #15
I thought Petri would be the way in?

Best regards,

Ted Liu

  2020 年 1 月 4 日周六 4:40，Dave Fisher<notifications@github.com> 写道：
Before Apache IDs can be created we must find a way for OSSBot to become part of the Apache Software Foundation

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-04 04:08] dave2wave commented on #15
Yes. Likely. I’ve continued the thread on discuss@petri.

Probably an issue and we discuss there with another issue here.

Pull in the members who want to use it into the Kai yuans he community I notice done have forks.

Sent from my iPhone

[2020-01-04 15:09] huan commented on #32
Test webhook...

[2020-01-20 11:48] bkbabydp commented on #29
cool! focusing~

[2020-02-28 01:02] zhuangbiaowei opened #40 "Wechat user can add the bot as friend, and bind his github account."
As the title.

1. Add bot as friend
2. Chat with bot: "bind"
3. The bot send message to user, "github oauth login link"
4. User login to github
5. The bot service save the information.

[2020-02-28 01:09] zhuangbiaowei opened #41 "In wechat group, users can reply issue message"
1. The bot send a message about issue
2. User can @bot, and say: "#Number Some answers"
3. If the user already bound github account, then the bot can can speak for the user
4. If the user does not have bind Github account, then the bot just speak :"@User say: some answers"

[2020-02-28 05:22] tuohai666 opened #42 "Do we have a project description?"
I am looking for volunteers and need a description of our project. But I can't find any descriptions in kaiyuanshe.cn or GitHub readme file.

[2020-02-28 06:19] zhuangbiaowei commented on #42
https://kaiyuanshe.cn/profile/about/

[2020-02-28 06:23] tuohai666 commented on #42
@zhuangbiaowei I mean the project oss-bot.

[2020-02-28 06:25] zhuangbiaowei commented on #42
@tuohai666
like My understanding of the functions of the oss bot. #29

[2020-02-28 06:26] tuohai666 commented on #42
Thanks.

[2020-03-04 14:35] huan opened #43 "Test Issue to WeChat"
### Steps

1. Reply to this issue by writing something, then click [Submit]
1. The reply action will emit an event from our GitHub App OssChat <https://github.com/settings/apps/osschat> to OSS Bot in WeChat
1. OSS Bot will send the issue comments to the specific WeChat group as a message card.
1. Go to the WeChat group and confirm that the message card was sent.

Related to #11

[2020-03-04 14:45] huan opened #44 "Can not send UrlLink with OSS Bot `juzi_bangbang`"
We need to try another account with this feature.

@lijiarui @zhuangbiaowei

CC @windmemory

[code]

<details>
<summary>
Show Logs
</summary>

[code]

</details>

[2020-03-04 15:44] huan commented on #28
Testing...

[2020-03-04 15:53] huan commented on #28
Test

[2020-03-04 15:53] huan commented on #43
It worked!

[2020-03-04 16:32] huan commented on #43
Good night, OSS Bot!

[2020-03-04 16:36] huan commented on #43
Good night, Bot!

[2020-03-04 16:54] huan commented on #43
Good night, OSS!

[2020-03-04 16:55] huan commented on #43
Good night, Project & Pilot friends!

[2020-03-04 16:57] huan commented on #44
This bug is not related to padplus, but from oss bot itself.

Should have already been fixed.

[2020-03-04 16:57] #44 closed

[2020-03-05 06:03] huan commented on #43
大家中午好，测试发 issue

[2020-03-05 06:12] zhuangbiaowei commented on #43
@huan  Good!

[2020-03-05 06:17] qiaojialin commented on #43
Hi

[2020-03-05 06:21] tuohai666 commented on #43
Hello world!

[2020-03-05 06:25] huan opened #45 "We couldn’t deliver this payload: Service Timeout"
![image](https://user-images.githubusercontent.com/1361891/75953788-158c5580-5eed-11ea-88d5-27b1cdb080b8.png)

-----

GitHub shows that _We couldn’t deliver this payload: Service Timeout_

-----

![image](https://user-images.githubusercontent.com/1361891/75954011-9ea38c80-5eed-11ea-9f72-8c002075d9f8.png)

-----

This will cause GitHub to resent the webhook message and we will receive duplicated me

[2020-03-05 06:30] huan commented on #45
I send a dirty fix to work around it.

We should be refactoring later by creating a global Wechaty action queue with delay to manage the system better.

[2020-03-05 06:34] huan commented on #43
Double card test.

[2020-03-05 07:36] huan opened #46 "Auto Accept: RoomInvitation & New Friendship"
for convenience for new developer users.

[2020-03-05 07:55] huan commented on #43
Test new version

[2020-03-05 08:14] huan commented on #43
test

[2020-03-05 08:30] huan opened #47 "Oss Bot Need to enable 微信支付 so that it can join a large room."
[code]

@lijiarui Cloud you please help us to enable that?

[2020-03-05 08:52] huan opened #48 "Duplicated Issue Card"
Currently, if there's one issue event, then OSS bot will send two message card to the WeChat.

I can confirm the GitHub app only send one webhook call.

And the following is the log that Heroku shows that we get two post requests.

[code]

[2020-03-05 09:23] huan opened #49 "Log received messages to ChatOps room"
When the bot received a message that:

1. is a direct message, or
1. is a room message, with mentioning(at) the bot

Then, the bot should report that message in the chatops room, for humans review.

[2020-03-05 12:46] huan commented on #43
这是一个 Issue 回复

[2020-03-05 13:10] qiaojialin opened #50 "Enable forwarding information of PR"
Hi, I would like to see the comments and review information of PRs in WeChat.

[2020-03-05 14:05] huan commented on #50
That's a great feature request!

I have just reviewed our ossbot settings in the GitHub Apps and adjusted them to be able to get all the Pull Request information that we need:

![image](https://user-images.githubusercontent.com/1361891/75988727-03320c00-5f2d-11ea-9da3-52ea2e8f8167.png)

-----

![image](https://user-images.githubusercontent.com/1361891/75988758-104efb00-5f2d-11ea-91a8-cf37bf130e37.

[2020-03-06 08:10] francis-du opened #52 "[Proposal] - Sync Slack or Maling list messages to WeChat group"
**New Feature :**

Sync Slack or Maling list messages to WeChat group.

**Description :**

1. Our open source project discussions are mainly on Slack and GitHub, and we want users and developers in the WeChat group to see our discussions for the first time,so I think it is necessary to support Slack's information synchronization.

2. In addition, I think if you can synchronize the Mailling list of

[2020-03-06 08:43] huan opened #53 "Bug: can not deal with upper case names (org & repo) properly"
Currently, we are set the config with all lowercase names:

https://github.com/kaiyuanshe/oss-bot/blob/3038422f79adbbfdf5cd850746377b0bdbd684f3/src/config.ts#L33

However, the GitHub webhook will send us an event with `"full_name": "DSExtension/DSExtension"`.

Then when we have received the event, we have the following code:

https://github.com/kaiyuanshe/oss-bot/blob/3038422f79adbbfdf5cd850746377

[2020-03-06 08:58] francis-du commented on #53
Same problem encountered in Quicksql.

[2020-03-06 14:13] huan opened #56 "Feature: report every issue message card to chatops room"
For us to know what happened to the bot.

[2020-03-06 14:14] huan commented on #56
Implemented at v0.2.23

[2020-03-06 14:59] huan opened #57 "[Feature] Support regex/Wildcard in orgRepo config"
For example:

1. `chatie/*` means all repositories in the `chatie` organization.
1. `wechaty/wechaty-puppet*` means all repositories in the `wechaty` repository that starts with `wechaty-puppet`

[2020-03-06 15:03] huan commented on #47
Thanks for the great help from @lijiarui, our OSS Bot can join a bigger room that more than 100 people from today!

[2020-03-06 15:03] #47 closed

[2020-03-06 18:44] huan commented on #43
Good night.

[2020-03-06 18:47] huan commented on #48
Finally, it turns out that we have installed the GitHub App of OssChat, and at the same time, we have another webhook in our repository.

That's the reason why we get two message cards for one issue.

[2020-03-06 18:47] #48 closed

[2020-03-07 03:51] huan opened #58 "New Feature HA: Add Support to High Available mode"
### The Problem

Currently we have only one bot on WeChat, which means that if the bot was offline, then our service will be stopped.

### The Solution

Use two (3 or even 4 will be better) WeChat bot at the same time, with the different wechaty-puppet providers (for example: padplus + windows).

So when an issue event has come, we can use a RR (round robin) or other very easy to implementing algo

[2020-03-07 03:56] zhuangbiaowei commented on #58
+1

[2020-03-08 04:12] huan commented on #43
Good morning

[2020-03-08 04:26] francis-du commented on #58
+1

[2020-03-08 06:18] huan commented on #43
Good afternoon!

[2020-03-08 06:36] huan commented on #43
Good afternoon, let's have a tea!

[2020-03-08 06:40] huan commented on #58
If we have multiple bots for HA mode (the bots that registered to serve the OSS projects), then if one bot was invited to a room, then the bot should invite all its teammates (all other bots that can serve as ossbot) to that room, so that all the bots can send message card in the room.

[2020-03-08 08:50] huan commented on #53
The config should be not case sensitive anymore, this issue has been fixed by #1a7944c

[2020-03-08 08:51] huan commented on #57
Wildcat Configuration is supported now!

you can use `kaiyuanshe/*` to match all the repos in the `kaiyuanshe` org!

[2020-03-08 11:33] huan commented on #43
Good evening

[2020-03-08 12:54] huan commented on #57
The wildcat config works great for me! Cheers!

[2020-03-08 15:32] huan commented on #50
### X-GitHub-Event: pull_request_review

[code]

[2020-03-08 15:33] huan commented on #50
### X-GitHub-Event: pull_request

[code]

[2020-03-08 15:37] huan commented on #50
Updated two json payloads: one is `Pull Request`, another is `PR Review`.

[2020-03-10 03:45] huan opened #59 "Setup an Angular framework to manage the web interface"
Current the web interface is very simple: it just shows all the rooms that the bot has joined and an input box that can send a message to our ChatOps WeChat admin room.

It would be better if we can:

1. Setup an Angular Web System
1. Setup a Web API Interface (Swagger would be good)

To be implemented.

[2020-03-11 15:18] dailidong opened #61 "[Feature] Send messages selectively when sending mails"
We have too many issue updates every day. I think it would be better if we had a choice when send emails, because some discussions are very important, while some are not. Is it OK to implement it through the comment area @oss-bot?

----
我们每天有大量的issue更新，我觉得如果发送邮件时有一个选择会更好，因为有些讨论是很重要的，而有些并不重要，实现方式通过评论区@oss-bot的方式是否OK？或者是否可以等回复数超过一个阈值(再把本次issue/PR的完整回复发一遍)，实现上可能有难度，仅是建议，也不会前端，很尴尬

![image](https://us

[2020-03-11 15:31] huan commented on #61
I believe that's exactly the problem that @clr-apache is facing every day!

[2020-03-12 05:39] tuohai666 opened #63 "How to install osschat for Apache project"
I can't access the Wiki page, maybe @huan can help to copy this guide to the right place.

Ask for infrastructure service of ASF from here: https://issues.apache.org/jira/ .

Create a new issue follow the template following:

[code]

A previous case for reference: https://issues.apache.org/jira/browse/INFRA-19925

[2020-03-12 05:51] huan commented on #63
Thanks for figuring it out!

I have just opened the Wiki and get rid of the write limitation.

Now you can edit the wiki, so please feel free to add it by yourself.

Thank you very much for the contribution!

[2020-03-12 06:06] tuohai666 commented on #63
Done.

[2020-03-12 06:06] #63 closed

[2020-03-12 10:40] huan opened #64 "OSS.Chat is ready to go"
For a long time (more than 4 months), we are trying to find a good name for this project. I still remember that @clr-apache, @tedliu1 and me trying to get some name in the mail list but none of them is ready for use. It is always not easy to get a name that can make everyone happy (and also available).

However, this situation is going to change for our project now. Last week I happened to see a d

[2020-03-12 13:21] dailidong commented on #4
ted: 这是第三个阶段要实现的内容，等实现和邮件打通后再讨论，目前暂不讨论

[2020-03-12 13:25] francis-du commented on #64
+ 1

[2020-03-12 13:25] dailidong commented on #64
Ted: +1

[2020-03-12 13:25] dailidong commented on #64
Huan: +1

[2020-03-12 13:25] morningman commented on #64
+1

[2020-03-12 13:25] dailidong commented on #64
+1

[2020-03-12 13:28] dailidong commented on #64
OSSCHAT
OSS.CHAT
OSS-CHAT

[2020-03-12 13:36] morningman commented on #61
only send issue with specified label?

[2020-03-12 13:39] dailidong commented on #61
Assignees：Mingyu

[2020-03-12 13:39] francis-du commented on #61
Filter unimportant issues by filtering tags for issue name.

[2020-03-12 13:41] francis-du commented on #59
+1

[2020-03-12 13:41] dailidong commented on #59
+1

[2020-03-12 13:46] dailidong commented on #59
Assignees: Huan

[2020-03-12 13:47] dailidong commented on #59
所有人都可以参与，比如文档使用markdown，不需要使用特别的技术

[2020-03-12 13:49] dailidong commented on #58
+1

[2020-03-12 13:51] dailidong commented on #58
Jiarui、Huan：机器人掉线需要重新登录，这时候就掉线了
如果有2个机器人在线，可以降低掉线的概率，需要2个机器人都在一个群里

[2020-03-12 13:51] dailidong commented on #58
Assignees：dailidong

[2020-03-12 13:52] tedliu1 commented on #58
+1

[2020-03-12 14:04] dailidong opened #65 "[FEATURE] write contribution.md"
write contribution.md

[2020-03-12 14:12] dailidong opened #66 "[Feature] Write “how to use” document"
Write “how to use” document

[2020-03-12 14:13] dailidong commented on #66
Assignees: Dai Lidong

[2020-03-12 14:13] dailidong commented on #65
Assignees: zhuang

[2020-03-12 14:29] huan opened #67 "[Request] Create a GitHub team: osschat"
Our OSSChat project gets more and more contributors, the contributors need to maintain the Issue and Pull Requests, for example: assign an issue to another contributor, or oneself.

So we need to set up the osschat repo to be maintain-able to those contributors, by creating a team named osschat, and invite all those contributors to join that team.

After we have the team, we can assign the team `T

[2020-03-12 14:31] huan commented on #64
I have renamed the repo from ~~oss-bot~~ to `osschat`.

The repo address has been changed to <https://github.com/kaiyuanshe/osschat>

[2020-03-12 14:43] huan commented on #57
This feature has been implemented this week, so I close this issue as we discussed in the meeting today.

[2020-03-12 14:43] #57 closed

[2020-03-12 14:44] huan commented on #56
As discussed today, this feature has been implemented and should be closed.

[2020-03-12 14:44] #56 closed

[2020-03-12 14:52] huan commented on #58
@zhuangbiaowei I'm looking forward to putting our new OSSChat bot online with the current one!

[2020-03-13 02:46] huan opened #68 "OSSChat Logo"
The logo is very important.

We should keep all the following CI aligning with our logo:

1. GitHub Apps: <https://github.com/apps/osschat>
1. WeChat Bots: Avatar of the Account
1. WebSites: <https://oss.chat>
1. others? (to be added)

Currently, we have this one: (design by @huan)

![image](https://user-images.githubusercontent.com/1361891/76584455-d24a6c00-6516-11ea-8ada-db93ae10083a.png)

Accor

[2020-03-13 03:12] huan opened #69 "rejection: Error: no message rawPayload for image"
Some issues can not be sent as the UrlLink successfully with the padplus puppet.

Needs to be investigated.

[code]

[2020-03-13 08:01] huan opened #71 "Enable CLA for our repo & contributions"
we can use https://cla-assistant.io/ for example.

[2020-03-14 02:48] francis-du opened #75 "[DOC] - Create a static documentation site based on Readthedocs"
Description :
- Create a static documentation site based on Readthedocs.
- Support markdowm documents with the Recommonmark module.
- Automatically triggering builds with Readthedocs' webhook.
- Use Readthedocs to bind our custom domain, such as `doc.oss.chat`.

[2020-03-14 02:49] francis-du commented on #75
@huan  Hi Huan,please assign this issue to me,thanks.

[2020-03-14 05:37] huan commented on #75
Thank you very much for adding the docs to our project.

It would be better if we can use the basic and naive Markdown format, with the GitHub Pages, instead of a new Python system.

Anyway, it's a great start for us to have the documentation pages!

[2020-03-14 05:58] francis-du commented on #75
GitHub Pages depends on [Jekyll](https://help.github.com/en/github/working-with-github-pages/about-github-pages-and-jekyll).Jekly relies on Ruby again.
I think Readthedocs configuration is easier for developers.
I don't know if there are other platforms or tools for JavaScript.

[2020-03-14 06:03] huan commented on #75
Jekyll is acceptable because it's a naive GitHub Pages solution. ;-)

There's no JavaScript solution as far as I know, so let's start from the Readthedocs version(it's good), and let's see if we can move to the GitHub Pages Jekyll version in the future.

I appreciate your efforts for the docs, and have a nice day!

[2020-03-14 06:09] francis-du commented on #75
Readthedocs has many good features, such as multi-version management, multi-language support，etc...

[2020-03-17 16:19] dailidong commented on #66
done

[2020-03-17 16:19] #66 closed

[2020-03-17 16:25] dailidong commented on #58
any update? haha

[2020-03-17 16:30] huan commented on #58
It's currently on the waiting list.

Please stay tuned!

[2020-03-18 02:39] zhuangbiaowei commented on #67
Done

[2020-03-18 02:39] #67 closed

[2020-03-18 10:54] huan commented on #67
Awesome, thank you for creat @kaiyuanshe/osschat team for us @zhuangbiaowei !

I have added the `Triage` role to the `osschat` team for this repository so that everyone in this team can be able to manage the Issues and Pull Requests!

If there's anyone who is interested to contribute to this project but not in the `osschat` team, please let us know, we will add you and let's hack together!

[2020-03-18 12:19] huan opened #78 "[Feature] Let the bot can leave `last words`"
### The Problem

Sometimes we need to restart the bot because of the bot dead.

After the restart, the bot will come back to life.

How can we get to know what happened after the bot died?

### The Solution

Make a `last words` for the bot, save it to our MemoryCard, before we restart it.

After booting, the bot should check whether it has any last words in the previous life cycle, if it has, then

[2020-03-19 04:25] dailidong opened #79 "Who is using OSSChat"
Who is using OSSChat
====
Sincerely thank everyone who constantly keeps on using and supporting OSSChat. We will try our best to make OSSChat better and make the OSSChat community and ecology more prosperous.

The original intention of this issue
====
1. We’d like to listen to the community to make OSSChat better.
1. We want to attract more partners to contribute to OSSChat.
1. Learn more about th

[2020-03-19 07:31] huan commented on #79
* Project Name: Wechaty
* HomePage: https://github.com/wechaty
* Purpose: issues and pr message sync used in the WeChat developer group

[2020-03-19 12:30] morningman commented on #79
- Project Name: Apache Doris(Incubating)
- HomePage: http://doris.incubator.apache.org/
- Purpose: issues and pr message sync used in the WeChat committer group

[2020-03-19 12:46] morningman commented on #61
I think we can make the rule config file. For user to make their own rule of which message should be send by the bot.

[2020-03-19 12:59] tuohai666 commented on #79
Project Name: Apache ShardingSphere(Incubating)
HomePage: http://shardingsphere.apache.org/
Purpose: issues and pr message sync used in the WeChat committer group

[2020-03-19 13:10] huan commented on #49
Presented and closed on weekly meeting.

[2020-03-19 13:10] #49 closed

[2020-03-19 13:10] #53 closed

[2020-03-19 13:11] huan commented on #53
Presented and closed on the weekly meeting.

Thanks @zhuangbiaowei for helping me close this issue. :-D

[2020-03-19 13:40] tedliu1 opened #81 "OSS.Chat website"
OSS.Chat website construction and introduction

[2020-03-19 13:42] tedliu1 commented on #81
@zhuang invite 水歌 to build the website

[2020-03-19 14:00] huan commented on #81
I just found a nice template with MIT license...

just post here for referencing:
<https://blackrockdigital.github.io/startbootstrap-landing-page/>

[2020-03-20 03:18] huan opened #82 "[Feature] Email to WeChat"
### The Problem

1. We have `dev@project.apache.org` email list and but we do not check email very often.
1. We want to see message cards in WeChat when we have new emails in our mail list.

### The Solution

We can sync the email message to our WeChat group the same as GitHub Issue to WeChat.

### Steps

1. create an email address `bot@oss.chat` to receive emails
1. add the `bot@oss.chat` to the

[2020-03-20 14:53] huan commented on #82
We need an email box to store all the emails sent to `bot@oss.chat` address.

I'd like to suggest that create an email box named `osschat-bot@kaiyuanshe.org` for this feature. @zhuangbiaowei

[2020-03-20 17:38] huan commented on #69
It's a padchat internal problem which can not be tracked at here.

[2020-03-20 17:38] #69 closed

[2020-03-20 17:40] lijiarui commented on #69
padplus :)

[2020-03-21 12:55] zhuangbiaowei commented on #81
![image](https://user-images.githubusercontent.com/93194/77226825-2fe55500-6bb6-11ea-8851-3277f6274173.png)

[2020-03-26 03:18] jixuan1989 opened #83 "Improve the message title"
Hi, when I use the OSSChat to receive messages, the message looks like:
![image](https://user-images.githubusercontent.com/1021782/77606737-58bd6f80-6f53-11ea-91fc-3b8a82111186.png)

Actually, the PR number (#***) and the PR title is more meaningful than the repo name "apache/incubator-iotdb".

So, it is better to put the latter info ahead of the title.
How do you think?

[2020-03-26 13:06] huan commented on #32
Close this issue via the meeting.

[2020-03-26 13:06] #32 closed

[2020-03-26 13:07] huan commented on #43
Close via the meeting.

[2020-03-26 13:07] #43 closed

[2020-03-26 13:46] huan commented on #83
Please feel free to submit a Pull Request to change the template at here:

https://github.com/kaiyuanshe/osschat/blob/a0a83cff30b8a7aafc646e6365b85769fb1928e2/src/issue-handlers.ts#L35-L39

[2020-03-26 14:04] lijiarui opened #85 "Support WeChat Work"
Since WeChat Work can provide more stable API, I suggest we add WeChat Work bot feature for OssChat, so we can get a GitHub notification in WeChat Work.

The bot should look like this:
![image](https://user-images.githubusercontent.com/6419514/77655626-9d75f480-6fad-11ea-8e08-330b9eb93024.png)

[2020-03-28 03:54] dailidong commented on #79
Project Name: Apache DolphinScheduler(Incubating)
HomePage: http://dolphinscheduler.apache.org/
Purpose: issues and pr message sync used in the WeChat users and developers group

[2020-03-28 04:10] dailidong commented on #65
Contributions include not only source code, but also documentation, constructive bug reports, constructive discussions, marketing and generally anything that adds value to the project.

[2020-03-28 04:20] huan opened #88 "[Proposal] Grant merge PR privileges to team members of @osschat"
For make our developing collaborations more smooth, I'd like to suggest that all the members of the @osschat team should be able to merge PR when it meets the following two requirements:

1. the PR has been approved by at least one other team members (who has the write privilege)
1. the PR has passed the required CI check

Additionally, In the future I believe we should also add another requiremen

[2020-04-01 03:49] huan opened #90 "Volunteer needed: contribute a WeChat account for our bot HA system"
Related to #89

Currently, our OSSChat system has two bot accounts: one is provided by @lijiarui from Juzi.BOT, the other is provided by @zhuangbiaowei from Kaiyuanshe.ORG.

These two bots work fine with our system, however, we believe we should at least have three bots online so that we will get the maximum stability for OSSChat service.

And the reason that we want our third bot is coming from t

[2020-04-01 04:54] huan commented on #43
Hello, #0 bot is offline now.

[2020-04-01 05:17] huan commented on #43
Hello,  No. 0 and No. 1 bot are both online now!

[2020-04-01 05:29] huan commented on #43
Hello, NO. 1 bot is offline now.

[2020-04-01 05:36] huan commented on #43
Hello, N.O. 1 & 2 bots are both online now!

[2020-04-02 02:28] lijiarui commented on #85
see #84

[2020-04-02 02:31] huan commented on #85
According to the suggestion from TED: we should close issue via our weekly meetings after explain it to the whole team.

[2020-04-02 02:57] lijiarui commented on #85
Get it, reopen and waiting for today's meeting.

[2020-04-02 07:51] huan commented on #83
I believe this feature should be online now after we merged the two PR from @jixuan1989

[2020-04-02 13:11] #11 closed

[2020-04-02 13:11] huan commented on #11
Close via meeting.

[2020-04-02 13:12] #64 closed

[2020-04-02 13:12] huan commented on #64
Closed via meeting.

[2020-04-02 13:17] francis-du commented on #88
+1

[2020-04-02 13:17] lijiarui commented on #88
+1

[2020-04-02 13:18] dailidong commented on #88
+1

[2020-04-02 13:18] zhuangbiaowei commented on #88
+1

[2020-04-02 13:25] tedliu1 commented on #88
+1

[2020-04-02 13:26] lijiarui commented on #85
close via meeting

[2020-04-02 13:26] #85 closed

[2020-04-02 13:26] huan commented on #58
Close via meeting.

[2020-04-02 13:34] huan commented on #88
Proposal agreed by all members who attended the meeting today.

Current setting:

### 1. @osschat team have the write privilige now:

![image](https://user-images.githubusercontent.com/1361891/78254999-4cc04780-7529-11ea-86ac-062cc9000471.png)

### 2. `master` branch has been protected, and all PRs will require at least one approvement.

![image](https://user-images.githubusercontent.com/1361891/7

[2020-04-02 13:37] lijiarui commented on #88
Waiting for @zhuangbiaowei to invite all of pilot developers into osschat project team.

[2020-04-02 13:54] zhuangbiaowei commented on #81
1. oss.chat service site
2. admin portal
3. user manual and admin manual

[2020-04-02 13:59] lijiarui commented on #75
Cool!

[2020-04-02 14:01] #75 closed

[2020-04-02 14:04] lijiarui commented on #65
wechaty contribution: https://wechaty.js.org/welcome-to-contribute

[2020-04-02 14:15] huan opened #94 "[Feature] Twins two bot together"
When a bot (A) is invited to a WeChat room, it (A) should invite bot B to join the same room too, because when A is offline, we need B can send the message into that room.

We should also add a check & fix function to our system so that we can run it periodly, make sure the two bots are both in the rooms that they are invited in.

When a bot found that its twin bot is not in the room that it is in

[2020-04-02 14:19] #58 closed

[2020-04-02 14:37] tedliu1 commented on #65
@庄表伟 可以参考一下佳芮提供的 wechaty contribution definition document: https://wechaty.js.org/welcome-to-contribute

这份 contribution definitions 似乎可以合并到 Francis 的 static document site #75 ！

[2020-04-03 01:41] lijiarui opened #95 "Add more github notification"
### Now

When we push the issue notification, we only have :
1.  issue title
2.  issue link
3. issue body
4. issue related avatar

But when I use this in WeChat Work, maybe we need more info.

### Expect

We need more:
1. issue related developer's name
2. Action: such as add tag, change assignees, close the issue, reopen the issue, comment the issue and so on.

Refer to [likai](https://github.com/

[2020-04-03 02:53] tlikai commented on #95
I can improve this issue, if it's be needed.

[2020-04-04 19:21] huan opened #97 "Strong Available Checking: HA ding/dong with Redux Observable on Chatie cloud service"
Check a bot available by sending a message out then expecting a message in.

If no message in, then the bot is not available anymore.

[2020-04-08 17:48] huan commented on #97
Merge to https://github.com/wechaty/HAWechaty/issues/1

[2020-04-08 17:50] #97 closed

[2020-04-08 18:11] huan opened #98 "Enable GitHub Actions"
To replace Travis CI

[2020-04-09 09:22] huan opened #99 "Generate CHANGELOG.md for Release"
Copy / paste from [Wechaty Scripts](https://github.com/wechaty/wechaty/blob/master/scripts/sort-contributiveness.ts)

## Usage

[code]

## Example

-----

### 1 Active Contributors

1. @[huan](https://github.com/huan): [\#100](https://github.com/kaiyuanshe/osschat/pull/100) [\#96](https://github.com/kaiyuanshe/osschat/pull/96) [\#89](https://github.com/kaiyuanshe/osschat/pull/89) [\#33](https://gi

[2020-04-09 09:43] huan opened #101 "Publish our first release of OSSChat project: v0.4"
As the release should be scheduled, so it's a great topic to discuss what is the best practice for us of publishing a new release.

I believe we can learn from the Apache community and just follow that at the beginning, then we can tune it to fit our needs.

To kick this discussion to start, I made the first release of our project, with a changelog generator (#99).

Please feel free to share your

[2020-04-09 10:33] huan opened #102 "CI broken caused by @octokit/types.ts@2.8.0"
Related: https://github.com/octokit/types.ts/issues/40

Waiting it to be fixed.

[2020-04-13 07:47] JesseWeb opened #107 "pull request review required."
I follow the [how to use](https://github.com/kaiyuanshe/osschat/blob/master/docs/pages/how-to-use.md) step by step. But it won't automatic merge the pull request.it confused me. plz check this out.

[2020-04-13 07:49] huan commented on #107
We are not merging the PR automatically.

I have just merged it, and you can expect the OSSChat bot to start working after 10 minutes!

And welcome!

[2020-04-13 07:49] JesseWeb commented on #107
thanks a lot dude. keep doing great things!!

[2020-04-13 07:55] JesseWeb commented on #107
it works!!

[2020-04-13 07:59] huan commented on #107
Congratulations!

[2020-04-13 17:26] #107 closed

[2020-04-14 07:28] JesseWeb commented on #95
comment the issue seen's already added to the features.
issue close action is important, maybe this is the great beginning of enhancement.

[2020-04-14 09:13] JesseWeb opened #108 "Run OSSChat locally Failed"
17:08:53 WARN HAWechaty start() rejection: Error: no wechaty puppet found
there is no place to change or set puppet.plz help

[2020-04-14 09:22] huan commented on #108
The OSSChat requires lots of environment variables to be set up before it can be able to run locally.

We have no time to document those environment variable settings yet, but if you do want to run it locally, please let me know and I'd like to help.

[2020-04-14 09:32] JesseWeb commented on #108
I'd like know more and make some contribution with this great project

[2020-04-14 09:42] huan commented on #108
Ok, let me give you some clues for the environment variables, I believe you need to drive into it for a while before you can set it up locally.

To make the OSSChat run, we need at least the following environment variables, please read my inline comments for explanation.

### Part 1: Probot

Learn more from <https://probot.github.io/> because we are using the Probot framework.

[code]

### Part 2:

[2020-04-14 10:19] JesseWeb commented on #108
thanks dude！now I just needs apply those puppet key then it should be run successfully.

[2020-04-14 11:53] huan commented on #108
You are welcome, and good luck!

[2020-04-17 04:30] JesseWeb opened #109 "Issues hook missing?Group didn’t get any UrlCard"
this problem occurs frequently lately.

[2020-04-17 04:42] huan commented on #109
We have serval issues related to the `webhook message lost` problem, and most cases are caused by the bot and our HTTP service:

1. If the bot is offline, then the message sending will be failed
1. If the message sending is failed, we should return a `500` error to the GitHub webhook caller.

Currently, we always return `200` from our webhook processer, which caused the GitHub will not be able to

[2020-04-17 06:27] JesseWeb commented on #109
well I’m just start to reading source code of this project. maybe the durable queue can be the “bot offline issue” solution?

[2020-04-17 06:46] huan commented on #109
Yes, that might be another solution for this issue.

I hope you enjoy the reading, and please feel free to let me know if you have questions.

[2020-04-20 03:38] tuohai666 opened #111 "Support message cards tirggered only when an issue is closed"
I'd like to raise a requirement. Message card can be tirggered only when an issue is closed for a specified Wechat group.

[2020-04-21 02:08] su-chang opened #114 "Shall we update wechaty to the `next` version, it will support new gRPC."
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**A

[2020-04-21 03:07] huan commented on #114
Yes we shall, that will help the bot to get the latest fixes between reboots.

Please help yourself to send a PR to upgrade it, thank you very much.

[2020-04-21 04:00] su-chang commented on #114
Done!

[2020-04-21 04:00] #114 closed

[2020-04-23 09:54] jixuan1989 opened #116 "consider blacklist feature"
Hi, how about considering adding a new feature to screen someone?

In our project, IoTDB, we are using Sonar to check the code quality.
Then, for each PR (and for each update after a PR is opened),
the Sonar robot will leave a comment to say whether the PR has code quality problems.

We like the feature. But.... as some PRs have problems and the committer may update it many times, we receive a...

[2020-04-23 13:32] #99 closed

[2020-04-23 13:33] zhuangbiaowei commented on #65
close via meeting.

[2020-04-23 13:50] #101 closed

[2020-04-23 13:57] tedliu1 opened #117 "Build a simplified release management process"
Build a simplified yet actionable release process referring to ASF Incubator's one

Please referred to #101. The release management process should be simple and actionable. It will be subject to the OSSChat Pilot Group's triage to keep the most required processes to start with.

[2020-05-07 11:14] dailidong commented on #117
this is DolphinScheduler publish process :  [DolphinScheduler publish process](https://dolphinscheduler.apache.org/zh-cn/docs/development/release.html)

but I think it's too complicated

[2020-05-07 13:08] huan commented on #98
Close via meeting

[2020-05-07 13:08] #98 closed

[2020-05-07 13:25] dailidong opened #118 "[Feature] Promote the OSSChat project in the OSCHINA"
Promote the OSSChat project in the OSCHINA

[2020-05-07 13:27] dailidong commented on #118
write an article about OSSChat

[2020-05-07 13:31] #88 closed

[2020-05-07 13:35] francis-du commented on #81
A platform for quickly generating website templates [stackbit ](http://stackbit.com/)

[2020-05-07 13:40] #46 closed

[2020-05-07 13:44] lijiarui commented on #12
done

[2020-05-07 13:44] #12 closed

[2020-05-07 13:48] lijiarui commented on #12
when people send `oss` to the bot, bot will invite you into `OSS Bot ChatOps` room.

[2020-05-07 14:25] dailidong commented on #118
I will write the part: Use scenarios and expected improvements

[2020-05-07 14:26] tedliu1 commented on #118
- Write a Wechat article to attract developers from ASF China and 开源中国 projects.

- Ted & 庄表伟 & 代立冬 assigned to this issue

- Recruit frontend developers, i.e. typescript, java script, need Angular developer

[2020-05-07 14:28] tedliu1 commented on #68
- Assign to Ted with actions:
- consult with Craig and Dave or ASF Trademark VP
- give to kaiyuanshe design team for a few logo for comparison

[2020-05-28 12:29] tedliu1 commented on #118
Please refer to #79 for the promotion article.

[2020-05-28 12:30] tedliu1 commented on #79
Cross-referenced with #118

[2020-05-28 12:49] tedliu1 commented on #118
WIP: 为什么你该加入 OSS.Chat 开源项目? https://shimo.im/docs/PypCg86Qh3hQ9ddG

[2020-06-05 17:05] Gcaufy commented on #79
Project Name: WePY
HomePage: https://github.com/Tencent/wepy
Purpose: issues and pr message sync used in the WeChat committer group

[2020-07-07 02:47] su-chang opened #122 "oss heroku crashed"
Sorry for that I can not get all related logs in `heroku`, only the last fragment.

[code]

[2020-07-07 03:51] su-chang commented on #122
[code]

[2020-07-07 04:01] su-chang commented on #122
[code]

[2020-07-07 04:21] huan commented on #122
I believe it is related to https://github.com/wechaty/wechaty-puppet-hostie/issues/31#issuecomment-618901077

As my experiences, this problem can be 100% reproduced when we are using containers, and it will almost not happen when we are not using containers.

To be investigated.

[2020-07-07 05:55] su-chang commented on #122
[code]

[2020-07-07 06:27] huan commented on #122
The above log message shows that there's a server-side wrong, so it's nothing related to the osschat itself.

[2020-07-07 06:31] su-chang commented on #122
Yes, you are right, but heroku could not restart in this case. How could make it just throw out this error but not crash the process?

[2020-07-07 07:14] huan commented on #122
How to recover from this error is a good question.

Let's try to reproduce in our local environment then we will be able to learn more from this error.

[2020-07-22 04:58] su-chang opened #123 "Something wrong with the event listener"
OSS will load messagePayload 4 times for receive one message.

[code]

[2020-07-22 13:47] huan commented on #123
Thanks for the reporting!

It might belong to the Redux system, I'll pay attention to it in the future developing.

[2020-12-11 03:24] huan opened #130 "Support GitHub Discussions"
GitHub released the discussion feature for repos this week, which is a very great feature for discussions and QAs, like https://github.com/wechaty/wechaty/discussions

So we should also support the discussion posts in our osschat GitHub app and Wechaty bot.

[2021-05-13 07:23] gymgym1212 opened #132 "can not find juzi_bangbang in wechat"
Does the bot change username?

[2021-05-13 07:25] gymgym1212 commented on #132
I find it, just OSSChat

[2021-05-13 07:25] #132 closed

[2021-05-15 07:19] huan commented on #132
Thanks for creating this issue.

Could you please let me know that where did you find the 'juzi_bangbang' ? We should fix it.

[2021-05-15 08:35] gymgym1212 commented on #132
Yep, I found 'juzi_bangbang' in `How to Use` page. You have fixed it.

[2021-05-15 08:36] huan commented on #132
Thanks for letting me know that, please feel free to let me know if you have any other questions.

[2021-08-23 04:08] tuhaihe commented on #90
Hi, I'm Dianjin. I would like to provide one new WeChat account for the bot. The new WeChat account can meet all the requirements.

[2021-08-24 04:32] huan commented on #90
Great to know that, thank you very much @tuhaihe !

I'm trying to enhancing the [HAWechat](https://github.com/wechaty/ha-wechaty) and to make the multi-bot configuration of the OSS.Chat to be available soon.

I will let you know when you can scan the QR Code for our bot. Before that, you can change the bot avatar and name to the same as our current osschat bot.

[2021-08-31 02:17] huan commented on #90
Today our new OSSChat bot has been online with wxid `osschat3`, thank you very much @tuhaihe for donating this account to serve the community!

[2021-08-31 05:23] morningman opened #147 "[Discuss] Merge the comments of a single PR"
**Is your feature request related to a problem? Please describe.**

When we submit multiple comments to a PR, osschat will send each comment one by one. This will cause the WeChat group to be received too many notification.

**Describe the solution you'd like**

[enhancement]

[2021-09-01 06:48] huan commented on #147
There are more decisions that need to be made to merge comments.

For example, how long should we wait for another comment when we received one comment before we send it to the WeChat room? 1 minute? 3 minute?

How can we implement this feature, for example, how to design a manageable storage structure to deal with those comments?

I'd like to accept a PR for this feature if there's anyone like to

[2021-09-24 08:32] hailiang-wang opened #152 "[AutoReply] As a Dev, I can log chats in OSSChat with Chatopera BOT"
There are some questions asked frequently, such as how to setup a software, how to contribute codes, and we answer them again and again.

**Describe the solution you'd like**

I would suggest to use wechaty chatopera plugin to make these things works.

What it does with Chatopera Wechaty Plugin -

1. Collect chats data in Chatopera BOT
2. Later you can analyze chats history with lattcice service f

[2021-09-27 05:25] hailiang-wang opened #153 "As a Dev, I can upload a yml into Repo to manage QnAs in Chatopera BOT"
In wechat groups, people would ask some questions frequently, these questions should be replied with BOT, the answers are from BOT QnAs Knowledge.

**Describe the solution you'd like**
I would like to create a bot in [chatopera bot platform](https://bot.chatopera.com), then integrate it with OSSChat, This step would be fulfilled by #152.
After that, I can add a yml file into my github repo, it is

[2021-09-27 05:37] hailiang-wang opened #154 "[AutoReply] As a Dev, I want OSSChat BOT can guide people create issue automatically"
People would like to discuss problems in wechat group, sometimes it would turn into a meaningful idea, a requirement, a bug or some threads should be followed in Github Issue. But it takes a lot persuades as just a few people has this habit. So, the further works is stumbled.

**Describe the solution you'd like**
Someone in the group could create the issue with just a single message, such as "以上创建

[2021-09-27 06:39] hailiang-wang commented on #154
## Github API

* generate token as auth info
https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api#issues

* create issue
https://docs.github.com/en/rest/reference/issues#create-an-issue

[2021-09-28 07:07] hailiang-wang commented on #154
Issue can be opened automatically now.

![image](https://user-images.githubusercontent.com/3538629/135039558-f3d6911a-5cc7-4412-a312-674cbe0812ef.png)

[2021-09-28 08:03] hailiang-wang commented on #154
Now, BOT dialogue skills are uploaded in https://github.com/chatopera/chatbot-samples/tree/master/projects/OSSChatBot

[2021-09-29 01:24] huan commented on #154
It's great to hear the idea from @hailiang-wang for enhancing the OSSChat bot skills!

I believe it is very valuable for:

1. managing issues in WeChat rooms for privileged developers
2. summary the discussion in the WeChat rooms to the related issues (as well as a weekly report)
3. answer the FAQ for the new developers automatically in the WeChat rooms, with an easy to be managed YAML file in Git

[2021-09-29 01:35] hailiang-wang commented on #154
FAQs management with YAML would be delivered in https://github.com/kaiyuanshe/osschat/issues/153
The init steps are  #152 logging chats for analysis, #154 creating github issue automatically.
Would like to do #153 as soon as possible, let us close #152 and #154 at first, so FAQs management would be easier.
@huan

[2021-09-29 08:17] hailiang-wang commented on #154
Which source code file do you mean? Would like to convert to the new way.

[2021-09-30 06:00] huan commented on #154
For example:

- https://github.com/chatopera/chatbot-samples/blob/master/projects/OSSChatBot/conversations/plugin.js

[2021-09-30 07:05] hailiang-wang commented on #154
Currently, Chatopera Bot platform is based on `node:10.21.0`, the latest new LTS features are not supported at this time. Would to try to upgrade to current LTS version 14.18.0 LTS.

[2021-10-02 09:36] hailiang-wang opened #156 "[AutoReply] provide blog(s) in Wechat Blog Website"
Guides to setup OSSChat along with Chatopera Cloud Services for more dialogue skills.

[2021-10-02 10:56] Functional-Account opened #157 "帮助"
# 描述

来自 Chatopera测试群1 （微信群或私聊）对话记录

1. 帮助

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OSSChat</a> automatically.</div>

[2021-10-02 12:27] hailiang-wang commented on #154
Address how to setup auto reply in Wiki page

https://github.com/kaiyuanshe/osschat/wiki/How-to-setup-auto-reply-with-Chatopera

[2021-10-03 03:54] #157 closed

[2021-10-04 00:23] hailiang-wang opened #158 "Restart service when bot is off"
Service does not work, with following trace.

[code]

**Describe the solution you'd like**

When OSSChat is restarted, the bot is up and works.

Auto detect the error and exit, as later the server would auto restart with some monitor.

[2021-10-04 04:40] Functional-Account opened #159 "帮助"
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

1. 帮助

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OSSChat</a> automatically.</div>

[2021-10-04 04:41] #159 closed

[2021-10-04 05:26] huan commented on #158
It's very hard to understand the program situation without any reproducible steps.

HAWechaty definitely has lots of bugs (it's still WIP), and the PuppetPadlocal has issues sometimes too.

If we find any reproducible steps, I'd like to dig into them and see what happens.

[2021-10-04 06:22] Functional-Account opened #160 "测试 帮助"
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

1. 帮助
2. 测试：在第十三届中国航展的中国航空工业集团有限公司展台
3. 测试：11等自主研制的“明星”飞行器悉数亮相，宣告航
4. 测试：9月28日，南海之滨的珠海，晴空万里、碧蓝如洗。伴随阵阵轰

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OSSChat</a> automatically.</div>

[2021-10-04 06:28] Functional-Account opened #161 "测试 在第十三届中国航展的中国航空工业集团有限公司展台"
Labels: 文档
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

1. 测试：在第十三届中国航展的中国航空工业集团有限公司展台
2. 测试：11等自主研制的“明星”飞行器悉数亮相，宣告航

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OSSChat</a> automatically.</div>

[2021-10-04 06:32] #160 closed

[2021-10-04 06:32] #161 closed

[2021-10-04 09:16] Functional-Account opened #162 "1. 自动创建 Issue - "以上创建 Issue" "以上10条创建 Issue" 测试 以上创建工地但 - -"
Labels: 需求
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

1. 测试：在第十三届中国航展的中国航空工业集团有限公司展台
2. 测试：11等自主研制的“明星”飞行器悉数亮相，宣告航
3. 以上创建工地但
4. 「OSSChat：
机器人助手有如下技能:
  1. 自动创建 Issue - "以上创建 Issue", "以上10条创建 Issue", "以上10条创建工单"」
- - - - - - - - - - - - - - - -
这个功能很实用！[强]
5. 帮助
6. 你好

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OSSCh

[2021-10-04 09:18] #162 closed

[2021-10-04 09:26] Functional-Account opened #163 "在微信群里面建立 Issue 的权限 这个需要群管理员来发布公告提示 大家都七嘴八舌的来建立 Issue 可能会有问题"
Labels: 需求
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

1. 创建工单
2. 忽然想到一个场景：在微信群里面建立 Issue 的权限，是否需要控制？否则一个500人的群，大家都七嘴八舌的来建立 Issue 可能会有问题。
3. 这个需要群管理员来发布公告提示，开始大家来熟悉这个功能会有一些 Issue 没有实际的价值。

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OSSChat</a> automatically.</div>

[2021-10-04 09:35] huan commented on #163
描述前面添加一下用户微信名体验会好：

[code]

[2021-10-04 09:45] hailiang-wang commented on #163
需求很合理，可以让用户体验更好。

现在 BOT 接口中，有`用户`和`消息文本`两个值，还有一个`渠道`，但是从检索层面看，没有用到渠道，相当于渠道都是 `wechaty`，channel 没有检索中用到， 要把群名字和用户名，同时加入到上线文中，现在还没有支持。

目前，在 Chatopera 端，是把一个群看成了一个用户，在生成 Issue 报告的时候，没有用户信息。如果要把群里发言的用户加入到报告中，那么现在还没有好的办法。

[2021-10-04 09:46] huan commented on #163
如果送入 Chatopera 后台的聊天数据，存储的时候就把用户名放在最前面，这样是否可行？

[2021-10-04 09:51] hailiang-wang commented on #163
如果是这样，需要做一个约定了，这样后台在处理的时候，做检索之前，在 QueryRewrite 中，去掉这个“前缀”。总之，方案我再想想，应该有简单的方法。

[2021-10-04 12:43] Functional-Account opened #164 "在 Issue description 中增加群的说话人的信息 正在实现 //github.com/kaiyuanshe"
Labels: 文档
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

1. I have created a GitHub project for the integration for Chatopera and OSSChat at https://github.com/kaiyuanshe/osschat/projects/4
2. 在 Issue description 中增加群的说话人的信息，正在实现，估计一会就可以了，一切顺利的话。
3. 正在实现，估
4. 哈哈，感觉像在念咒一样。。。
5. 在 Issue description 中增加群的说话人的信息
6. 正在实现，估

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a hr

[2021-10-04 12:47] Functional-Account opened #165 "测试1 来了"
Labels: 帮助
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

2021-10-04 20:46:56 hailiang_wang: 来了
2021-10-04 20:46:59 hailiang_wang: 测试1
2021-10-04 20:47:09 lizhuohuan: 测试2

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OSSChat</a> automatically.</div>

[2021-10-04 12:56] Functional-Account opened #166 "测试1 帮助"
Labels: 帮助
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

王海良@Chatopera: 帮助
王海良@Chatopera: 测试1
王海良@Chatopera: 测试2

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OSSChat</a> automatically.</div>

[2021-10-04 13:00] Functional-Account opened #167 "创建工单 2、可选由创建工单的人 这个功能现在看起来已经有了雏形啦 介绍这个工单的大体情况 很赞"
Labels: 需求
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

Huan (李卓桓): 这个功能现在看起来已经有了雏形啦，很赞                              *(2021-10-04 20:59:17)*
Huan (李卓桓): 如果能增加两个功能就好了：                              *(2021-10-04 20:59:22)*
Huan (李卓桓): 1、“创建工单”的时候，可以指定一个 issue 主题                              *(2021-10-04 20:59:40)*
Huan (李卓桓): 2、可选由创建工单的人，提供一句话的描述，介绍这个工单的大体情况                              *(2021-10-04 21

[2021-10-04 13:01] hailiang-wang commented on #167
**Issue 主题** 就是 Labels 吗？

[2021-10-04 13:01] huan commented on #167
主题是这个：

[2021-10-04 13:05] Functional-Account opened #168 "测试 report1"
Labels: 帮助
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

`王海良@Chatopera`: 测试 report1  *(2021-10-04 21:05:30)*
`王海良@Chatopera`: 测试report2  *(2021-10-04 21:05:38)*

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OSSChat</a> automatically.</div>

[2021-10-04 13:07] #166 closed

[2021-10-04 13:07] Functional-Account opened #169 "测试 2 测试主题 1"
Labels: 帮助
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

`王海良@Chatopera`: 测试主题 1  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-04 21:07:27)*
`王海良@Chatopera`: 测试 2  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-04 21:07:29)*

---
提示：以上为未整理的聊天历史，更多介绍查看评论信息。
<div align="right">:speech_balloon: Opened by <a href="https://github.com/kaiyuanshe/osschat">OS

[2021-10-04 13:08] #169 closed

[2021-10-04 13:08] #168 closed

[2021-10-04 13:08] #165 closed

[2021-10-04 13:09] #164 closed

[2021-10-05 06:23] #152 closed

[2021-10-05 06:23] #154 closed

[2021-10-07 06:22] Functional-Account opened #172 "帮助"
Labels: 文档， 创建者: 王海良@Chatopera
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

`王海良@Chatopera`: 帮助  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-07 14:21:16)*
`王海良@Chatopera`: 72年，我们的新中国日新月异  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-07 14:21:47)*
`王海良@Chatopera`: 奋斗向上的决心始终如一  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-0

[2021-10-07 06:22] #172 closed

[2021-10-09 03:53] hailiang-wang opened #173 "Mapping yml to FAQ json and vice versa"
# Description
## parent https://github.com/kaiyuanshe/osschat/issues/153

Define a yml schema, consider the properties that can be mapped into a FAQ JSON file.

* Question (required)
* Answers (multi plain text only now, required at least one item)
* Categories (with a single key and value, optional)
* DocId (optional , can be generated automatically, possible solution, auto generate with Quetion

[2021-10-09 05:53] hailiang-wang commented on #79
* Project Name: 春松客服
* HomePage: https://www.cskefu.com
* Purpose: Sync issue updates from GitHub, Auto Replies for FAQs, Open Issues within Chat groups automatically, etc.

[2021-10-09 06:35] hailiang-wang commented on #158
更多日志

[code]

[2021-10-09 07:56] hailiang-wang commented on #173
考虑在 https://github.com/chatopera/chatopera-nodejs-sdk 中增加新的类，比如 Utils 来实现接口。

[2021-10-10 01:26] hailiang-wang opened #175 "Import BOT FAQs when setup bot on starting"
# Description

## parent #153

For each config-projects, add a peer faq file like

[code]

Which would be configured as FAQs for  ```src/config-projects/chatopera.ts``` .

![image](https://user-images.githubusercontent.com/3538629/136678052-c66fcc69-74a0-4294-93a6-97dd31ae4a37.png)

```src/config-projects/chatopera.faqs.yml``` would be in a format like

[code]

Everytime OSSChat restart or start,

[2021-10-10 04:54] hailiang-wang opened #176 "[AutoReply] handle chats response with a single wechat account"
After integration with Chatopera BOT, the OSSChat BOT would handle the chats in wechat group and reply for the matched inquiries.

But with Wechaty HA functions, sometimes the inquiries are processed by multi wechat accounts, so now the replies are dupicated and repeatly in the group.

**Describe the solution you'd like**
Just one bot reply.

**Describe alternatives you've considered**
Enhance the

[2021-10-10 04:59] huan commented on #176
Thanks for the report, I'll let you know after I can figure how to fix it out.

[2021-10-14 09:26] huan opened #177 "OSSChat crash report"
It seems that we should wrap a `while true; do start-oss-chat; done` in Procfile

https://github.com/kaiyuanshe/osschat/blob/f77849afc8dc4c439cdf28f9ecb2b4959083b815/Procfile#L5

[code]

-----

[code]

[2021-10-14 12:20] Functional-Account opened #178 "加入会议参考文档 https 加入会议参考文档 https OSSChat 社区会议 //zoom.us/j/65050"
Labels: 需求， 创建者: 王海良@Chatopera
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

`陈明雨`: 我应该可以，一会我修改下文档~  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-14 15:10:44)*
`陈明雨`: 我应该可以，一会我修改下文档~  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-14 15:10:44)*
`陈明雨`: 我应该可以，一会我修改下文档~  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-14 15:10:44)*

[2021-10-14 13:12] huan opened #179 "Enable `.github/osschat.yml` to store OSSChat configuration for consumer repos"
&mdash; https://github.com/probot/octokit-plugin-config

[code]

We can design a `.github/osschat.yml` for our osschat users to store their settings in this file so that osschat can be easier to be configured.

## OSSChat `.github/osschat.yml` Proposal

[code]

[2021-10-14 13:32] #178 closed, assigned to nobody

[2021-10-14 13:42] huan opened #180 "Ask the user to confirm the issue content and the title"
After the bot receives the command from a user, it can double confirm with the user to make the content and title to be clear enough:

[code]

[2021-10-15 02:06] hailiang-wang commented on #180
content 和 title 是两个不同的体验。

## 关于 content

如果是在对话窗口，content 不方便进行编辑，所以有两个可行方案：
1）推送 URL 卡片，从一个 H5 页面进行编辑；
2）机器人完成根据聊天历史自动去重，去闲聊，识别关键词，筛选内容，也就是“智能写 content”。

## 关于 title

此处可以接收在聊天窗口中，确认或提供新的 title。

[2021-10-15 02:39] Functional-Account opened #181 "刘天栋Ted.开源社 期待下一次会议 [强][强][强] - - - - - - - - - - - - - - - -"
Labels: 其它， 创建者: 王海良@Chatopera
# 描述

来自 OSSChat Pilot Group （微信群或私聊）对话记录

`王海良@Chatopera`: 还有谁在准备加入吗？  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-14 20:03:24)*
`王海良@Chatopera`: 创建工单  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-10-14 20:20:49)*
`OSSChat`: Issue 是什么类型呢? 可选：需求，缺陷，文档，帮助，其它。  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp

[2021-10-15 02:40] #181 closed

[2021-10-15 08:18] hailiang-wang opened #182 "[AutoReply] Enable append comments with BOT skills"
# description

## related with #154

Sometimes, the discussions are related with an existed issue. So, a bot skill is needed to append the chats in wechat group into the target issue.

![image](https://user-images.githubusercontent.com/3538629/137455094-07efb89c-c881-4bf4-a575-902ad0db885f.png)

比如实现命令，“以上3条归档 issue #xxx”

[2021-10-18 03:57] Smityz opened #183 "Can't npm install in Ubuntu 20"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：

[code]

2. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions

- What is your wechaty version?
Answer: v0.4

- What is your node version? (run `node --version`)
Answer: v10.19.0

- What os are you using
Answer: Ubuntu 20.04

## 2. Descr

[2021-10-18 06:09] huan commented on #183
It seems our latest code does not contain this code.

Could you please pull the latest code from the main branch, then try with Node.js 16 again?

[2021-10-18 11:38] Smityz commented on #183
[code]

[2021-10-20 07:42] hailiang-wang opened #185 "[AutoReply] Enable a hook to retrieve welcome message on new member join group"
# Description
When people join group, after resolving the peer bot, send the bot a message as on board hook.

![image](https://user-images.githubusercontent.com/3538629/138049680-0ef33a11-37cf-459d-8817-cca00d73813c.png)

# Solution

For example,

[code]
About extras, check out
[https://docs.chatopera.com/products/chatbot-platform/references/sdk/chatbot/chat.html#%E6%A3%80%E7%B4%A2%E5%A4%9A%E8%BD%

[2021-10-27 12:26] hailiang-wang opened #186 "Add BJ NodeJS Club into config projects"
Add another user group for Node.js Community.

[2021-10-28 13:10] #186 closed, assigned to mukaiu

[2021-11-02 01:44] hailiang-wang commented on #175
标点符号去掉美观整洁。

![image](https://user-images.githubusercontent.com/3538629/139773244-fe5c3ce9-4eba-4f7b-86fd-0c5f1be2d225.png)

[2021-11-02 01:45] hailiang-wang commented on #175
`?:` 看起来会像一个特殊的约定。

[2021-11-02 02:13] huan opened #188 "UrlLink deliver number limitation"
对 UrlLink 发送数量限制的一个小结论：

Friday 某天转发了 60 条 UrlLink ，每条 UrlLink 需要投递到 10 个群里（0-9) ，然后现在的状态是 “操作过于频繁，可稍后再试”。（根据过去的经验，0点开始，恢复发送额度）

猜测：每个微信号，每天只能发送 60 x 10 = 600 条。如果超过的话，就需要等待第二天quota归零。

@借来的天堂  MiniProgram跟UrlLink差不多，大概500-550之间，具体多少个没统计过，就会“操作过于频繁，可稍后再试”。

一天不论拉长发送间隔时间还是如何，还是减少发送群聊的数量。小程序发送的数量到这个数量级就会出现“操作过于频繁，可稍后再试”。

[2021-11-12 01:03] hailiang-wang opened #194 "What does it to do with branch v0.10, the new default branch?"
Just know the default branch is v0.10, with the latest code for production?
And the `main` branch, what is main branch used for?

If I am going to commit some updates for productions, which branch should I commit with?

[2021-11-12 01:06] hailiang-wang opened #195 "Append chatroom for 开源社故事集"

[2021-11-12 01:06] #195 closed

[2021-11-12 01:08] hailiang-wang commented on #194
I realize I can push directly into branch 0.10 currently, which is very nice.

[2021-11-12 01:16] huan commented on #194
v1.0 branch is a workaround for using wechaty v0.x.

Main branch will be used for waiting the osschat with wechaty v1.x compatible.

The current blockers are:

1. PadLocal need to be upgrade to support Wechaty Puppet API v1.x
2. HAWechaty need tO be upgrade to support message send/receive with plugin (message de-duplicate required)

After the above two main blockers have resolved, then we will swi

[2021-11-12 01:21] hailiang-wang opened #196 "BOT OSSChatKaiyuansheTasks: ERR WechatyChatopera init bot faq fail"
After fetched commit https://github.com/kaiyuanshe/osschat/commit/85303ecfe99de59ca9f6c4954dbbba1adadc8cb6 and restart server, come to this error.  The peering bot is created but not the faqs.

[code]

No faqs are created.

![image](https://user-images.githubusercontent.com/3538629/141392724-d0690aa7-01b7-4770-9856-3bee02898e98.png)

[2021-11-12 01:23] hailiang-wang commented on #196
It is the same commit that adding the chat room and its faqs.
Even after another start, get the same error `ERR WechatyChatopera init bot faq fail`

![image](https://user-images.githubusercontent.com/3538629/141392655-f35b3b84-af8e-41d0-b2f2-f005d1dafe95.png)

[2021-11-12 01:31] hailiang-wang opened #197 "Kaiyuanshe tasks issues updates are not delivered into group 开源社开源故事"
# Description
I want to send issues updates into wechat group 开源社开源故事， I have commited

https://github.com/kaiyuanshe/osschat/commit/85303ecfe99de59ca9f6c4954dbbba1adadc8cb6

And add OSSChat BOTs into wechat group.

Update my server codes, after that, I add comment in

https://github.com/kaiyuanshe/tasks/issues/12

Nothing happens in wechat group.

# Solution
So, is there more configurations, sett

[2021-11-12 02:23] huan commented on #197
Can you check the 'kaiyuanshe/tasks' repo and confirm that it has been installed the https://github.com/apps/osschat ?

Only the repo installed the GitHub app can send webhook to osschat bot.

[2021-11-12 02:25] hailiang-wang commented on #197
I get a message, it says:
[code]

![image](https://user-images.githubusercontent.com/3538629/141398154-04c0638d-91ad-42b5-bcaf-df976d4a4290.png)

[2021-11-12 02:26] huan commented on #197
So we found the problem.

Ask the owner to install it, then it should be able to work as expected.

[2021-11-12 02:28] hailiang-wang commented on #197
@zhuangbiaowei Please help,  approve the access by link

 https://github.com/apps/osschat

![image](https://user-images.githubusercontent.com/3538629/141398480-632a4ce2-92c4-4d63-a0cb-900b2c8fec60.png)

Thanks!

[2021-11-12 02:51] hailiang-wang commented on #197
The root cause is incorrect room id, fixed with https://github.com/kaiyuanshe/osschat/commit/069d46d74f3f2621031ff0abf1ede2e52cecc7fe

[2021-11-12 02:51] #197 closed

[2021-11-12 02:52] hailiang-wang commented on #197
To get room id, just visit https://oss.chat/dashboard/

[2021-11-12 03:09] Functional-Account opened #198 "帮助"
Labels: 故事集， 创建者: 王海良@Chatopera
# 描述

来自 开源社开源故事 （微信群或私聊）对话记录

`王海良@Chatopera`: 帮助  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-11-12 11:08:50)*
`王海良@Chatopera`: now it make sense.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-11-12 11:08:57)*
`王海良@Chatopera`: 创建 Miya 的故事集  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *(2021-11-12 11:0

[2021-11-12 11:08] mukaiu commented on #196
![image](https://user-images.githubusercontent.com/7746790/141457580-83fa097a-049f-4307-81ab-55e6a364c1c2.png)

[2021-11-12 15:31] #196 closed

[2021-11-13 00:05] hailiang-wang commented on #196
Please give more explanations. @mukaiu
In what condition, with what symbols we should use double quotations for the answer. Thanks.

[2021-11-13 04:49] hailiang-wang commented on #196
The trace log is not describe the error explicitly, `init bot faq fail`. Does it mean the sytanx error casuses all importing faq fails or just the one with wrong data format. Please give the hints with HIGH STANDARD.

[2021-11-28 08:38] hailiang-wang opened #200 "More faq in chatopera profiles"
Add more faqs

[2021-12-23 02:52] Smityz opened #201 "Our osschat can't work anymore"
`21353174418@chatroom` in this chatroom, after 12.15, it can't work.

[2021-12-23 14:32] #201 closed

[2021-12-29 11:44] Wuzhijieoooo opened #204 "QR Code invalid"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：

[code]

2. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions

- What is your wechaty version?
Answer:

- What is your node version? (run `node --version`)
Answer:

- What os are you using
Answer:

## 2. Describe the bug

Give a clear a

[2021-12-31 17:29] huan opened #205 "OSSChat BOT DOWN"
It's related to the upper stream problem:

- https://github.com/padlocal/wechaty-puppet-padlocal/issues/123

[2022-01-01 03:53] huan commented on #205
Restored.

[2022-01-01 03:53] #205 closed

[2022-01-10 06:07] hailiang-wang opened #206 "[config-projects] Chatopera 用户交流群，增加 3 群到 Chatroom"
“Chatopera智能客服-客户群3”

机器人WechatID; osschat7

[2022-01-13 06:01] #206 closed

[2022-04-10 19:07] #52 closed

[2022-05-12 11:02] huan commented on #83
This feature has been implemented.

[2022-05-12 11:02] #83 closed

[2022-05-12 11:03] huan commented on #82
@tedliu1 We can track the email to wechat feature with this issue as you had mentioned yesterday.

[2022-05-12 11:04] huan commented on #50
Has been implemented already.

[2022-05-12 11:05] huan commented on #45
Has been implemented already.

[2022-05-12 11:05] #45 closed

[2022-05-12 11:07] huan commented on #13
Current we can get the information from <http://oss.chat/dashboard/>

[2022-05-12 11:07] #13 closed

[2022-05-16 01:26] zhuangbiaowei opened #208 "OSS.Chat Dashboard"
![image](https://user-images.githubusercontent.com/93194/168504630-e23e383f-ee8a-4481-a90e-7d931925836d.png)

[2022-05-18 01:23] huan opened #209 "Upgrade Wechaty Puppet PadLocal to v1.x"
So that we can use Wechaty v1.x

Refer:

- https://github.com/wechaty/puppet-padlocal/pull/125

[2022-05-26 06:07] qicz opened #212 "I have configured it according to the steps, but it doesn't work"
I have configured it according to the steps refer [this](https://github.com/kaiyuanshe/osschat/blob/main/docs/pages/how-to-use.md), but it doesn't work

[2022-05-26 06:07] qicz commented on #212
#211 pr merged

[2022-05-26 06:44] qicz commented on #212
@huan can you help this ?

[2022-05-26 13:26] huan commented on #212
Hi Qicz,

We have merged the v0.10 to the main, but it has not been tested yet.

Please wait for me to find some time to deploy the main branch to Heroku and enable CI/CD so that your changes can be activated online.

Thank you very much for your patience.

[2022-06-09 08:42] qicz commented on #212
Is there any new news

[2022-06-09 17:15] huan commented on #212
Sorry for the delay because of the overload of other tasks.

I hope we can deploy the main branch code in the following weeks, but unfortunately, there's no ETA for it yet.

[2022-06-10 09:56] qicz commented on #212
Is there any way to join the current running version?